name: Python application

on:
  push:
    branches: ["main"]
    paths-ignore:
      - 'README.md'
  pull_request:
    branches: ["main"]
    paths-ignore:
      - 'README.md'

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.8", "3.9"]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox==3.24.0  # Ensure tox version is correct
        pip install flake8 pytest
        pip install -r requirements.txt

    - name: Check tox version
      run: tox --version

    - name: Run linting with flake8
      run: |
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics  # Error checks

    - name: Run tests with pytest
      run: |
        pytest tests/ --maxfail=5 --disable-warnings -v  # Run tests with verbosity for more details

    - name: Run tox with recreate
      run: |
        tox --recreate

    